/*------------------------------*/
/*   Font Face                  */
/*------------------------------*/
/*@font-face {
    font-family: 'AktivGroteskW01';
    src: url('assets/fonts/AktivGroteskW01-Regular.woff2') format('woff2'),
        url('assets/fonts/AktivGroteskW01-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
/*@font-face {
    font-family: 'AktivGroteskW01';
    src: url('assets/fonts/AktivGroteskW01-Medium.woff2') format('woff2'),
        url('assets/fonts/AktivGroteskW01-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}*/
/*------------------------------*/
/*   Css Reset                  */
/*------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,
p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,
tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin:0; 
	padding:0; 
	border:0; 
	outline:0; 
	font-size:100%; 
	vertical-align:baseline;
}
body {
	background: #f0f4f9;
	font-family: "aktiv-grotesk-std",sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size:15px;
	color: #000; 
	margin:0;
	padding:0;
}
ul,ol { list-style:none; }
img,fieldset { border:none; }
a {text-decoration:none;}
a:hover { text-decoration:none; }
.skip { position:absolute; left:-9999px; }
article,aside,details,figcaption,figure,footer,
header,hgroup,main,nav,section,summary { display: block; }
figure { margin:0; padding:0; }
.clear {
	clear: both;
	height:0;
	width:100%;
	overflow:hidden;  
}
embed, iframe, object, video { max-width: 100%; }
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
img { max-width: 100%; height: auto; display: block; }
a {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
/*------------------------------*/
/*   Page structure             */
/*------------------------------*/
#wrapper { 
	width: 100%;
	background: url('assets/images/bg.png');
	background-repeat: repeat;
}
.body-wrapper { max-width: 1244px; margin: 0 auto; }
.container { padding: 0 15px; }
.center-content { max-width: 1084px; margin: 0 auto; }
/*------------------------------*/
/*   Header                     */
/*------------------------------*/
.header-container {
	border-top: 6px solid #6abd48;
	background: #313435;
}
.header {}
.logo {
	float: left;
	padding: 23px 0px 26px 0px;
}
.menu-area{
	float: right;
}
.top-bar {	
	font-size: 14px;
	text-transform: uppercase;
	overflow: hidden;
}
.top-bar ul {
	overflow: hidden;
	background: #262828;
	padding: 11px 0px 10px 0px;
	border-radius: 0px 0px 5px 5px;
	float: right;
	margin-right: 10px;
}
.top-bar ul li {
	float: left;
	color: #b6b7b7;
	line-height: 15px;
	border-left: 1px solid #515658;
}
.top-bar ul li:first-child {
	border-left: none;
	padding: 0px 17px 0px 17px;
}
.top-bar ul li a {
	color: #b6b7b7;
	padding: 11px 17px 10px 17px;
}
.top-bar ul li a:hover {
	color: #fff;
}
.client-login {
	background: #515658;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
	float: right;
}
.client-login:hover {
	background: #999999;
}
.client-login a {
	color: #ffffff;
	padding: 9px 14px;
	display: inline-block;
}
.client-login a:after {
	content: '\f105';
	font-family: FontAwesome;
	padding-left: 9px;
}
.menu {
	padding: 31px 0px 2px 0px;
}
.menu ul {}
.menu ul li{
	float: left;
	font-size: 17px;
	text-transform: capitalize;
	font-weight: 600;
	padding-left: 21px;
	padding-right: 10px;
	position: relative;
}
.menu ul li:first-child {	
	padding-left: 0px;
}
.menu ul li:last-child {	
	padding-right: 0px;
}
.menu ul li a {
	color: #ffffff;
	padding-bottom: 27px;
	display: inline-block;
}
.menu ul li a:hover {
	color:#6ec74a;
}
.menu ul .menu-item-has-children a:after {
	content: '\f107';
	font-family: FontAwesome;
	color: #fff;
	padding-left: 10px;
}
.menu ul li ul {
	position: absolute;
	width: 260px;
	padding: 11px 22px 14px 22px;
	background-color: #282a2b;
	left: 0;
	top: 100%;
	z-index: 999;
	/*display: none;*/
}
/*.menu ul li:hover > ul {
	display: block;
}*/
.menu ul li ul li {
	float: none;
	padding: 0px 0px;
	border-top: 1px solid #616566;
	font-weight: 400;
	font-size: 16px;
}
.menu ul li ul li:first-child {
	border-top: none;
}
.menu ul .menu-item-has-children ul li a:after {
	content: '';
	font-family: none;
	padding-left: 0px;
}
.menu ul li ul li a {
	padding: 11px 0px 13px 0px;
	display: block;
	color: #eff0f0;
}
.menu ul li:hover > a {
	color:#6ec74a;
}
.menu ul li ul li ul {
	position: absolute;
	left: 100%;
	top: 0;
}